WindowedApplication
{
	background-color:"0x777777";
	background-alpha:"1.0";
}

.linkButtonWindowShade {
  	headerClass:ClassReference('mx.controls.LinkButton');
  	header-style-name: linkButtonStyle;
 	drop-shadow-enabled:false;
  	corner-radius:3;
  	border-style:solid;
	background-color:#ddd;
	padding-left:5;
	padding-right:5;
	padding-top:5;
	padding-bottom:5;
	width:"100%"
}         

.linkButtonStyle {
	corner-radius:3;
	fill-alphas:1,1;
	fillColors:#d6ddda,#9ebcac;
	padding-left:10;
}

.ClipEditor {
	backgroundColor:#000000;
	backgroundAlpha:0;
	horizontalScrollPolicy:off;
	verticalScrollPolicy:off;
	width:"242";
}

.Label {
	fontSharpness:"-400";
	fontAntiAliasType:"advanced";
}
